<%= simple_form_for @everything do |f| %>
  <% if @everything.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@everything.errors.count, "error") %> prohibited this everything from being saved:</h2>

      <ul>
      <% @everything.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :guest_id, collection: Guest.all, label_method: :full_name %>
<%= f.input :your_friends %>
<%= f.input :friday, label: "Will you be joining us for our Friday evening Barbecue/Rehearsal dinner?", boolean_style: :inline %>
<%= f.input :friday_lodging, label: "Where will you be staying Friday night? We have ample camping available!" %>
<%= f.input :ceremony, label: "Will you be attending the Ceremony?", boolean_style: :inline  %>
<%= f.input :reception, label: "Will you be attending our Reception?", boolean_style: :inline  %>
<%= f.input :saturday_lodging, label: "Where will be staying Saturday night? If you need help with accomodations, let us know!" %>
<div class="col-centered center"><%= f.button :submit, "RSVP!" %></div>

<% end %>
