<p id="notice"><%= notice %></p>
<div class="rsvp_form col-centered center">
<p>
  <strong>Name:</strong>
  <%= @everything.guest.full_name %>
</p>
<p>
  <strong>Your Guests:</strong>
  <%= @everything.your_friends %>
</p>
<p>
  <strong>Friday:</strong>
  <%= @everything.friday %>
</p>

<p>
  <strong>Friday lodging:</strong>
  <%= @everything.friday_lodging %>
</p>

<p>
  <strong>Ceremony:</strong>
  <%= @everything.ceremony %>
</p>

<p>
  <strong>Reception:</strong>
  <%= @everything.reception %>
</p>

<p>
  <strong>Saturday lodging:</strong>
  <%= @everything.saturday_lodging %>
</p>
</div>
<%= link_to 'Edit', edit_everything_path(@everything) %> |
<%= link_to 'Back', everythings_path %>
