<!DOCTYPE html>
<html>
<head>
  <title>Rsvp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><% if guest_signed_in? %>
        <%= current_guest.full_name %>'s RSVP
        <% else %>RSVP
        <% end %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <button type="button" class="btn btn-default navbar-btn">Update your RSVP</button>
      <ul class="nav navbar-nav navbar-right">
        <% if guest_signed_in? %>
          <li>
          <%= link_to('Edit registration', edit_guest_registration_path) %>
          </li>
          <li>
          <%= link_to('Logout', destroy_guest_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Register to RSVP', register_path)  %>
          </li>
          <li>
          <%= link_to('Sign in', login_path) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= message %>
    </div>
  <% end %>
 
<%= yield %>
</div>

</body>
</html>
